In [1]:
import joblib
from encodermodule import Encoder
from feature_data import Scaling, Transform, Reduction, imbalance
import pandas as pd

In [2]:
# load data
X_train = joblib.load("D:/BOOTCAMP/project/Project Pribadi/ml churn/X_train.csv")
y_train = joblib.load("D:/BOOTCAMP/project/Project Pribadi/ml churn/y_train.csv")
X_test = joblib.load("D:/BOOTCAMP/project/Project Pribadi/ml churn/X_test.csv")
y_test = joblib.load("D:/BOOTCAMP/project/Project Pribadi/ml churn/y_test.csv")

In [3]:
# concat train and test

train = pd.concat([X_train, y_train], axis=1)
test = pd.concat([X_test, y_test], axis=1)

In [4]:
# split numeric data train
numeric_cols = X_train.select_dtypes(include=['number'])
numeric_cols.head(2)

,credit_score,tenure,balance,credit_card,active_member,estimated_salary
4088,755,2,137430.82,0,0,176768.59
9131,775,4,152309.37,1,0,104112.00

In [5]:
# split numeric data test
numeric_cols_test = X_test.select_dtypes(include=['number'])
numeric_cols_test.head(2)

,credit_score,tenure,balance,credit_card,active_member,estimated_salary
4256,596,9,134208.25,1,1,13455.43
3373,644,2,186347.97,1,0,92809.73

In [6]:
# split categoric data train
category_cols = X_train.select_dtypes(include=['object'])
category_cols.head(2)

# ohe
ohe = Encoder(category_cols)
data_ohe = ohe.Ohe_encoder()
data_ohe.head(2)

,country_France,country_Germany,country_Spain,gender_Female,gender_Male,Age_mature,Age_old,Age_young
4088,0,1,0,0,1,1,0,0
9131,1,0,0,1,0,0,0,1

In [7]:
# split categoric data test
category_cols_test = X_test.select_dtypes(include=['object'])
category_cols_test.head(2)

# ohe
ohe = Encoder(category_cols_test)
data_ohe_test = ohe.Ohe_encoder()
data_ohe_test.head(2)

,country_France,country_Germany,country_Spain,gender_Female,gender_Male,Age_mature,Age_old,Age_young
4256,0,0,1,1,0,0,1,0
3373,1,0,0,0,1,1,0,0

In [8]:
# concat data ohe and numeric (data train)
X_train = pd.concat([data_ohe, numeric_cols], axis=1)
X_train.head(2)

,country_France,country_Germany,country_Spain,gender_Female,gender_Male,Age_mature,Age_old,Age_young,credit_score,tenure,balance,credit_card,active_member,estimated_salary
4088,0,1,0,0,1,1,0,0,755,2,137430.82,0,0,176768.59
9131,1,0,0,1,0,0,0,1,775,4,152309.37,1,0,104112.00

In [9]:
# concat data ohe and numeric (data test)
X_test = pd.concat([data_ohe_test, numeric_cols_test], axis=1)
X_test.head(2)

,country_France,country_Germany,country_Spain,gender_Female,gender_Male,Age_mature,Age_old,Age_young,credit_score,tenure,balance,credit_card,active_member,estimated_salary
4256,0,0,1,1,0,0,1,0,596,9,134208.25,1,1,13455.43
3373,1,0,0,0,1,1,0,0,644,2,186347.97,1,0,92809.73

In [10]:
# call function from module Data train
balance = imbalance()
X_train_smote, y_train_smote = balance.perform_smote(X_train, y_train)
X_train_under, y_train_under = balance.perform_undersampling(X_train, y_train)
X_train_over, y_train_over = balance.perform_oversampling(X_train, y_train)

In [11]:
# check result SMOTE
print('After SMOTE, the shape of train_X: {}'.format(X_train_under.shape))
print('After SMOTE, the shape of train_y: {} \n'.format(y_train_under.shape))

print("After SMOTE, counts of label '1': {}".format(sum(y_train_smote == 1)))
print("After SMOTE, counts of label '0': {}".format(sum(y_train_smote == 0)))

After SMOTE, the shape of train_X: (2460, 14)
After SMOTE, the shape of train_y: (2460,)

After SMOTE, counts of label '1': 3876
After SMOTE, counts of label '0': 3876

In [12]:
# check result Undersampling
print('After Undersampling, the shape of train_X: {}'.format(X_train_under.shape))
print('After Undersampling, the shape of train_y: {} \n'.format(y_train_under.shape))

print("After Undersampling, counts of label '1': {}".format(sum(y_train_under == 1)))
print("After Undersampling, counts of label '0': {}".format(sum(y_train_under == 0)))

After Undersampling, the shape of train_X: (2460, 14)
After Undersampling, the shape of train_y: (2460,)

After Undersampling, counts of label '1': 1230
After Undersampling, counts of label '0': 1230

In [13]:
# check result Oversampling
print('After Oversampling, the shape of train_X: {}'.format(X_train_over.shape))
print('After Oversampling, the shape of train_y: {} \n'.format(y_train_over.shape))

print("After Oversampling, counts of label '1': {}".format(sum(y_train_over == 1)))
print("After Oversampling, counts of label '0': {}".format(sum(y_train_over == 0)))

After Oversampling, the shape of train_X: (7752, 14)
After Oversampling, the shape of train_y: (7752,)

After Oversampling, counts of label '1': 3876
After Oversampling, counts of label '0': 3876

In [14]:
# call function from module data test
balance = imbalance()
X_test_smote, y_test_smote = balance.perform_smote(X_test, y_test)

# SCALING

In [15]:
# split data
columns_feature = ['balance','credit_score','estimated_salary']

In [16]:
# drop columns data train
drop_over = X_train_over.drop(columns=['balance', 'credit_score', 'estimated_salary'])
drop_under = X_train_under.drop(columns=['balance', 'credit_score', 'estimated_salary'])
drop_smote = X_train_smote.drop(columns=['balance', 'credit_score', 'estimated_salary'])
drop_train = X_train.drop(columns=['balance', 'credit_score', 'estimated_salary'])

In [17]:
# drop columns data test
drop_smote_test = X_test_smote.drop(columns=['balance', 'credit_score', 'estimated_salary'])

In [18]:
scaling = Scaling()

### 1. Standarisasi

In [19]:
# data train
feature_over,scaler = scaling.standardizeData(X_train_over[columns_feature])
feature_under, scaler = scaling.standardizeData(X_train_under[columns_feature])
feature_smote, scaler = scaling.standardizeData(X_train_smote[columns_feature])
x_train, scaler = scaling.standardizeData(X_train[columns_feature])

In [20]:
# concat data train
X_train_over_stand = pd.concat([drop_over, feature_over], axis=1)
X_train_under_stand = pd.concat([drop_under, feature_under], axis=1)
X_train_smote_stand = pd.concat([drop_smote, feature_over], axis=1)
X_train_stand = pd.concat([drop_train, x_train], axis=1)

In [21]:
# data test
feature_smote_test, scaler = scaling.standardizeData(X_test_smote[columns_feature])

In [22]:
# concat data test
X_test_smote_stand = pd.concat([drop_smote_test, feature_smote_test], axis=1)

### 2. Minmax

In [23]:
feature_over_min,scaler = scaling.Minmax(X_train_over[columns_feature])
feature_under_min, scaler = scaling.Minmax(X_train_under[columns_feature])
feature_smote_min, scaler = scaling.Minmax(X_train_smote[columns_feature])
x_train_min, scaler = scaling.Minmax(X_train[columns_feature])

In [24]:
# concat
X_train_over_min = pd.concat([drop_over, feature_over_min], axis=1)
X_train_under_min = pd.concat([drop_under, feature_under_min], axis=1)
X_train_smote_min = pd.concat([drop_smote, feature_smote_min], axis=1)
X_train_min = pd.concat([drop_train, x_train_min], axis=1)

### 3. Normalizer

In [25]:
feature_over_norm, scaler = scaling.Normalizer(X_train_over[columns_feature])
feature_under_norm, scaler = scaling.Normalizer(X_train_under[columns_feature])
feature_smote_norm, scaler = scaling.Normalizer(X_train_smote[columns_feature])
x_train_norm, scaler = scaling.Normalizer(X_train[columns_feature])

In [26]:
# concat
X_train_over_norm = pd.concat([drop_over, feature_over_norm], axis=1)
X_train_under_norm = pd.concat([drop_under, feature_under_norm], axis=1)
X_train_smote_norm = pd.concat([drop_smote, feature_smote_norm], axis=1)
X_train_norm = pd.concat([drop_train, x_train_norm], axis=1)

In [27]:
# save data X_train to joblib
joblib.dump(X_train_over_stand,"D:/BOOTCAMP/project/Project Pribadi/ml churn/X_train_over_stand.csv")
joblib.dump(X_train_under_stand,"D:/BOOTCAMP/project/Project Pribadi/ml churn/X_train_under_stand.csv")
joblib.dump(X_train_smote_stand,"D:/BOOTCAMP/project/Project Pribadi/ml churn/X_train_smote_stand.csv")
joblib.dump(X_train_stand,"D:/BOOTCAMP/project/Project Pribadi/ml churn/X_train_stand.csv")

joblib.dump(X_train_over_min,"D:/BOOTCAMP/project/Project Pribadi/ml churn/X_train_over_min.csv")
joblib.dump(X_train_under_min,"D:/BOOTCAMP/project/Project Pribadi/ml churn/X_train_under_min.csv")
joblib.dump(X_train_smote_min,"D:/BOOTCAMP/project/Project Pribadi/ml churn/X_train_smote_min.csv")
joblib.dump(X_train_min,"D:/BOOTCAMP/project/Project Pribadi/ml churn/X_train_min.csv")

joblib.dump(X_train_over_norm,"D:/BOOTCAMP/project/Project Pribadi/ml churn/X_train_over_norm.csv")
joblib.dump(X_train_under_norm,"D:/BOOTCAMP/project/Project Pribadi/ml churn/X_train_under_norm.csv")
joblib.dump(X_train_smote_norm,"D:/BOOTCAMP/project/Project Pribadi/ml churn/X_train_smote_norm.csv")
joblib.dump(X_train_norm,"D:/BOOTCAMP/project/Project Pribadi/ml churn/X_train_norm.csv")

# save data X_test to joblib
joblib.dump(X_test_smote_stand,"D:/BOOTCAMP/project/Project Pribadi/ml churn/X_test_smote_stand.csv")

['D:/BOOTCAMP/project/Project Pribadi/ml churn/X_test_smote_stand.csv']

In [28]:
# save data y_train to joblib

joblib.dump(y_train,"D:/BOOTCAMP/project/Project Pribadi/ml churn/y_train.csv")
joblib.dump(y_train_smote,"D:/BOOTCAMP/project/Project Pribadi/ml churn/y_train_smote.csv")
joblib.dump(y_train_under,"D:/BOOTCAMP/project/Project Pribadi/ml churn/y_train_under.csv")
joblib.dump(y_train_over,"D:/BOOTCAMP/project/Project Pribadi/ml churn/y_train_over.csv")

# save data y_test to joblib
joblib.dump(y_test_smote,"D:/BOOTCAMP/project/Project Pribadi/ml churn/y_test_smote.csv")

['D:/BOOTCAMP/project/Project Pribadi/ml churn/y_test_smote.csv']